*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688 10px 150px, #d8dbd5 20px 60px);
    font-family: 'Lato', sans-serif;
}
#container{
    display: flex;
    width: 80%;
    height: 90vh;
    margin:auto;
    margin-top: 50px;
    
}
/* comon  */
.avatar, .header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.text_under{
    text-decoration: underline;
    color: #567f92;
}
.avatar-img {
    margin: 0 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* background-color: red; */
}
#chats{
    flex-grow: 1;
    overflow-y: auto;
}
#chats li{
    padding: 6px 0;
    border-top: 2px solid lightgray;
    list-style-type: none;
    display: flex; 
}
/*/ comon  */

/* COLUMN LEFT */
.colum-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: white
}

.header-left{
    border-right: 1px solid lightgray;
    height: 70px;
    background-color:#eaeaea;
}
.header-left-icons i{
    padding-right: 15px;
    color:#b1b1b1
}
.notification {
    background-color: #8edafc;
    padding: 10px 0;
    display: flex;
    align-items: center;
    padding-right: 50px ;
}
.circle{
    background-color: white;
    color :#8edafc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
}
.search{
    padding: 6px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}
.search-input{
    padding: 5px;
    width:100%;
    margin: 4px;
}
/* /COLUMN LEFT */

.colum-right{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* height: 100%; */
}
#chat-right{
    background-image: url("..css/img/mine.jpg");
    flex-grow: 1;
}